---
interface Props {
  id: string;
  label: string;
  variant?: "gray";
  align?: "horizontal";
  size?: "even";
}

const { label, id, variant, align, size } = Astro.props;

const classWrapper = ["field"];
if (align) classWrapper.push(`field--${align}`);
if (size) classWrapper.push(`field--${size}`);

const classLabel = ["field__label"];
if (variant) classLabel.push(`field__label--${variant}`);
---

<div class:list={classWrapper}>
  <label for={id} class:list={classLabel}>
    {label}
  </label><slot />
</div>
