---
interface Props {
  href?: string;
  color?: "blue" | "orange" | "white";
  size?: "normal" | "small" | "wide" | 'document';
  submit?: boolean;
  marginTop?: "20";
  icon?: "plus" | "filter" | 'check';
}

const {
  href,
  color = "blue",
  submit = false,
  size,
  marginTop,
  icon,
} = Astro.props;

const classList = ["button", `button--${color}`];
if (marginTop) classList.push(`button--mt${marginTop}`);
if (size) classList.push(`button--${size}`);

const Element = href ? "a" : submit ? "button" : "div";
---

<Element
  href={href ? href : undefined}
  type={submit ? "submit" : undefined}
  class:list={classList}
>
  {icon && <span class={`button__icon icon-${icon}`}> </span>}
  <slot />
</Element>
