---
interface Props {
  href?: string;
  color?: "blue" | "orange" | "white";
  size?: "normal" | "small";
  submit?: boolean;
  marginTop?: "20";
  icon?: "plus" | "filter";
}

const {
  href,
  color = "blue",
  submit = false,
  size = "normal",
  marginTop,
  icon,
} = Astro.props;

const classList = ["button", `button--${color}`, `button--${size}`];
if (marginTop) classList.push(`button--mt${marginTop}`);
---

{
  href ? (
    <a {href} class:list={classList}>
      {icon && <span class={`button__icon icon-${icon}`}> </span>}
      <slot />
    </a>
  ) : submit ? (
    <button type="submit" class:list={classList}>
      {icon && <span class={`button__icon icon-${icon}`}> </span>}
      <slot />
    </button>
  ) : (
    <div class:list={classList}>
      {icon && <span class={`button__icon icon-${icon}`}> </span>}
      <slot />
    </div>
  )
}
