---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  variant?: "normal" | "small";
  marginTop?: "20";
  marginInline?: "-10";
}

const { variant = "normal", type, id, marginTop, marginInline, ...restProps } = Astro.props;
let classList = ["checkbox", `checkbox--${variant}`];
if (marginTop) classList.push(`checkbox--mt${marginTop}`);
if (marginInline) classList.push(`checkbox--mi${marginInline}`);
---

<div class:list={classList}>
  <input {...restProps} {id} type="checkbox" class="checkbox__element" />
  <label
    for={id}
    class:list={["checkbox__label"]}
  >
    <slot />
  </label>
</div>
